*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'poppins',sans-serif;
}
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding:15px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0 1rem #333333;
  margin-bottom: 10px;

}

.navbar.sticky {
 border-bottom: .1rem solid rgba(0,0,0,.2);
}

.navbar h1{
    color:blueviolet;
}
.navlinks{
    display: flex;
    column-gap: 20px;
}
.navlink a{
    text-decoration: none;
    color: #ebd3f8;
}
.navlink a:hover{
    color: blueviolet;
    
}
.navbar-menu-toggle{
    display: none;
}
.navbar-menu-toggle{
    color: #ebd3f8;
}

.side-navbar{
    background-color: black;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 5%;
    left: -60%;
    padding: 20px;
    color:white;
    transition: 2s;
    z-index: 10;

    
}
.side-navlink{
    margin-bottom: 30px;
}
.side-navlink a{
text-decoration: none;
color: #ebd3f8;

}
.side-navlink a:hover{
    color: blueviolet;
}
.header{
    display: flex;
    justify-content: left;
    gap: 50px;
    padding: 50px;
   
 
}
img{
    border-radius: 5px;
margin-left: 50%;
margin-top: 30px;

}
.button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: black;
    color: #ebd3f8;
    cursor: pointer;
    margin-top: 30px;
}
.content{
    margin-top: 10%;

}
.service{
    padding: 20px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.service-container-2 div{
    background-color: #F2F4F7;
    border-radius: 5px;
    padding: 10px;
}

.new-arrivals{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}
.new-arrivals-container{
    position: relative;
    flex-basis: 30%;
}
.new-arrivals button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    margin-top: 10px;

    color:#ebd3f8;
    background-color: black;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 55%;
    border: none;
    
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");

* {

  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
margin-top: 40px;
}

.bg {
  position: fixed;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  opacity: 0;
}

.bg2 {
  position: fixed;
  bottom: -2rem;
  right: -3rem;
  z-index: -1;
  width: 9.375rem;
  opacity: 0;
}

main > div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
}

main > div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  color:purple;

  
}

main > div hr {
  display: block;
  background:purple;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

main > div p {
  line-height: 1.6;
}

main a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

main > div > a {
  border: 2px solid #c2c2c2;
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
}

main > div > a:hover {
  border: 0.125rem solid #005baa;
  color: #005baa;
}

.swiper {
  width: 100%;
  padding-top: 3.125rem;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 1.25rem !important;
}

.swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}

.swiper-slide p {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-slide a {
  margin: 1.25rem 1.563rem 3.438rem 1.563rem;
  padding: 0.438em 1.875rem;
  font-size: 0.9rem;
}

.swiper-slide a:hover {
  color: #005baa;
}

.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("p 5.jpg")
      no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("p 11.jpg")
      no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("p 2.jpg")
      no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("p 13.jpg")
      no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("p 9.jpg")
      no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (min-width: 48rem) {
  main {
    display: flex;
    align-items: center;
  }
  .bg,
  .bg2 {
    opacity: 0.1;
  }
}

@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }
}

.news{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.news input{
  padding: 11px;
  width: 80vw;
  margin-bottom: 10px;
  border: solid black 3px;
}
.news button{
  margin-top: 10px;
  background-color: black;
  color: #F2F4F7;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin-bottom: 60px;
}
.footer{
  margin: 0;
  margin-top: 20px;
  padding: 40px;
  background-color: #0f2027;
  color: #F2F4F7;
  border-radius: 20px;
}
.search{
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;

  
}

.contact{
  background-color:purple ;
display: flex;
justify-content: center;
  margin-top: 30px;
  border-radius: 20px;
  
}

.input-box{
  padding: 20px;
}
.contact .input{
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #0f2027;
  color: #ebd3f8;
  font-size: 15px;
}
textarea{
  width: 100%;
  height: 90px;
  border-radius: 20px;
  background-color: #0f2027;
  color: #ebd3f8;
  padding: 20px;
  margin-top: 10px;
}
.btn{
  padding: 10px;
  color: #ebd3f8;
  background-color: green;
  border-radius: 10px;
  border: none;
  margin-left: 40%;
}




@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display: block;
    }
    .navlinks{
        display: none;
    }
    img{
        width: 70%;
        margin-right: 30%;
    }
    .content{
        margin-right:20px;
    }
    .service-container-1{
        flex-direction: column;
    }
    .service-container-2{
        flex-direction: column;
    }
    .new-arrivals-container{
        position: relative;
        flex-basis: 40%;
        margin-right: 40px;
        margin-bottom: 20px;
}
}